
@{
    ViewBag.Title = "ConfirmationSent";
}

    <div class="container default-container">
        <h2>Confirmation</h2>

        <h3>Please Confirm Your Email</h3>
        <br />
        <p>@Html.ActionLink("Resend the Code","ResendEmailConfirmation")</p>       
    </div>
